@import url('https://fonts.googleapis.com/css?family=Bangers');

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow: hidden;
  background-color: #5C94FC; /* لون سماء ماريو الأصلية */
}

.container {
  height: 100vh;
}

.block {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 80px;
  width: 80px;
  /* رابط جديد لصندوق ماريو المتحرك */
  background-image: url('https://www.mariowiki.com/images/a/a3/Question_Block_Art_-_New_Super_Mario_Bros.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.mario {
  position: absolute;
  width: 78px;
  height: 68px;
  /* رابط صورة ماريو */
  background-image: url('https://jakevdp.github.io/images/mario_graphics1.png');
  background-position-y: -191px;
  background-position-x: -22px;
  transition: bottom .3s linear;
}

.number {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1px);
  height: 80px;
  width: 80px;
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 60px;
  z-index: 0;
  transition: all .2s ease-in-out;
  opacity: 0;
}
