@import url('https://fonts.googleapis.com/css?family=Bangers');

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #5C94FC !important; /* تأكيد لون الخلفية */
}

.container {
  height: 100vh;
  width: 100%;
}

/* تصميم المربع يدوياً بألوان قوية */
.block {
  position: absolute !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  height: 80px;
  width: 80px;
  background-color: #FFCC00 !important; /* أصفر ماريو */
  border: 5px solid #000 !important;
  display: block !important; /* تأكيد الظهور */
  z-index: 999;
}

/* علامة الاستفهام */
.block::after {
  content: "?" !important;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bangers', cursive;
  font-size: 60px;
  color: #000;
}

.mario {
  position: absolute;
  width: 78px;
  height: 68px;
  background-image: url('https://jakevdp.github.io/images/mario_graphics1.png');
  background-position-y: -191px;
  background-position-x: -22px;
  transition: bottom .3s linear;
  z-index: 1000;
}

.number {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1px);
  height: 80px;
  width: 80px;
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 60px;
  z-index: 0;
  color: white;
  text-shadow: 2px 2px 0 #000;
}
